@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@600&display=swap');



body {
  font-family: 'Source Code Pro', monospace !important;
  margin: 0;
}

.name {
  margin-bottom: 30px;
}

.title {
  margin-top: 50px;
}

#about {
  background: url(./images/khamkeo-vilaysing-WtwSsqwYlA0-unsplash.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 700px;
}

aside {
  position: absolute;
  padding-left: 40px;
}

ul {
  list-style: none;
  margin-left: -20px;
}

.nav-link {
  color: black !important;
  margin-left: -25px;
  margin-right: 30px;
}

.nav-link:hover {
  text-decoration: underline;
}

ul > li {
  display: inline-block;
  text-decoration: none;
}

.name {
  margin-top: 50px;
}

.about-me {
  width: 400px;
  margin-top: 25px;
}

.page-break {
  width: 450px;
  margin-bottom: 50x;
}

#apps {
  margin-top: 100px;
}

.app-img:hover {
  border: 2px solid black;
}

.page-break-2 {
  width: 450px;
  margin-top: 30px;
  margin-bottom: 60px;
}

.gram {
  height: 330px;
  width: 400px;
  border: 0.5px solid #b6b8ba;
  margin-bottom: 100px;
}

.flixter {
  height: 330px;
  width: 400px;
  border: 0.5px solid #b6b8ba;
  margin-bottom: 100px;
}

.todoster {
  height: 330px;
  width: 400px;
  border: 0.5px solid #b6b8ba;
  margin-bottom: 100px;
}

.nomster {
  height: 330px;
  width: 400px;
  border: 0.5px solid #b6b8ba;
  margin-bottom: 100px;
}

.icons {
  padding-left: 30px;
  margin-top: 30px;
  margin-bottom: 100px;
}

.page-break-3 {
  width: 450px;
  margin-top: 30px;
  margin-bottom: 60px;
}

#skills {
  margin-top: 100px;
}

.rails {
  height: 55px;
  width: 50px;
}

i {
  color: black;
}

.social-icon {
  padding: 20px;
  margin-bottom: 50px;
}

.contact-headline {
  color: white;
  margin-left: 50px;
  padding-top: 50px !important;

}

.white-hr {
  color: white;
  width: 450px;
  margin-top: 30px;
  margin-bottom: 60px;
  margin-left: 50px;
}

.contact-me {
  background-color: black;
  margin-bottom: -30px;
}

.contact-link {
  color: yellow;
}

.contact-link:hover {
  color: yellowgreen;
}

.contact-info {
  color: white;
}

.white {
  color: white;
}




